* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}
:root {
    font-size: 24px;
}
@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf); 
}
a {
    color: rgb(136, 191, 255);
}
.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
}
.image-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(images/canyon.jpg);
    background-size: cover;
    color: rgb(214, 214, 214);
    position: relative;
    height: 100vh;
}
.overlay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    background-color: rgba(10, 10, 10, 0.6);
    width: 100%; 
    font-size: 4rem;
    padding: .5rem 0 .5rem 0;
}
.image-credit {
    margin-bottom: 20px;
}
.overlay-icon {
    max-height: 200px;
    width: auto;
}
.overlay-text {
    color: white;
    font-family: norseBold, Arial, Helvetica, sans-serif;
}
.form-wrapper {
    background-color: rgb(228, 228, 228);
    height: 100vh;
}
.form-hero {
    font-size: 2rem;
    font-weight: bolder;
    padding: 100px 0 50px 0;
    margin-left: 100px;
    margin-right: 20px;
}
.signup-form {
    background-color: white;
    box-shadow: 0px 5px px rgba(0, 0, 0, 0.2);
    position: relative;
    display: grid;
    justify-content: flex-start;
    column-gap: 50px;
    grid-template-columns: 450px 450px;
    padding-top: 150px;
}

.form-input {
    padding: 10px 20px 10px 20px;
    margin: 35px 0 20px 0;
    font-size: 1.25rem;
    border-radius: 10px;
    outline: 2px solid black;
    border: 0;
}
.form-input:focus {
    outline: 2px solid rgb(189, 91, 0);
}

.input-wrapper {
    position: relative;
    margin-left: 100px;
}
.form-label {
    position: absolute;
    font-size: .75rem;
    top: .5rem;
    font-weight: bolder;
}
#submit-button {
    font-size: 1rem;
    position: absolute;
    top: 75px;
    font-weight: bolder;
    color: white;
    background-color: rgb(189, 91, 0);
    padding: 20px 60px;
    border-radius: 15px;
}
.form-heading {
    background-color: white;
    margin-left: 100px;
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    top: 20px;
}
.existing-user-login {
    position: absolute;
    top: 200px;
}
#login {
    color: rgb(189, 91, 0);
}